{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block title %} Профиль пользователя {% endblock %}

    {% block content %}
        <h3>Профиль пользователя {{ user.username }}</h3>
        <p>Здравствуйте, {{ user.full_name}} !</p>
     <div>
         {% if request.user.is_superuser %}
            <a href="{% url 'main:view_user_applications' %}">Все заявки</a>
            <a href="{% url 'main:category' %}">Управление категориями</a>
            {% else %}
             <a href="{% url 'main:view_user_applications' %}">Мои заявки</a>
         {% endif %}
        <a href="{% url 'main:create_application' %}">Создать заявку</a>
     </div>


{% endblock %}